* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    border: solid black 15px;
}

header {
    border-bottom: double black 10px;
    padding: 15px;
    display: flex;
    align-items: center;
}

blogTitle {
    flex-grow: 1;
}

mode {
    font-size: 24px;
    height: 36px;
    width: 30px;
    align-items: center;
    cursor: pointer;
}

blogEntries {
    padding: 15px;
}

div {
    margin: 15px;
    border: solid black 3px;
    background: linear-gradient(180deg,orange,yellow, white,white);
}

div p:first-of-type {
    margin-left: 45px;
    font-style: italic;
}

div p:nth-of-type(2) {
    font-weight: bold;
    margin: 15px;
    margin-top: 30px;
}

h2 {
    margin: 15px;
    border-bottom: solid black 1px;;
}

footer {
    height: 80px;
    border-top: double black 10px;
    background: linear-gradient(1deg,orange,yellow, white,white);
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

#backButton {
    color: white;
    background-color: black;
    border: solid white 1px;
    box-shadow: 5px 2px 2px gray;
    font-size: 18px;
    height: 30px;
    width: 150px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}

.boldText {
    font-weight: bolder;
}

/* Dark Mode CSS */
.dark {
    color: rgba(255, 255, 255, 0.438);
    background-color: black;
}

.dark header {
    border-bottom: double rgba(255, 255, 255, 0.438) 10px;
}

.dark footer {
    border-top: double rgba(255, 255, 255, 0.438) 10px;
    background: linear-gradient(1deg,purple,blue, black, black);
}

.dark div {
    border: solid rgba(255, 255, 255, 0.438) 3px;
    background: linear-gradient(180deg,purple,blue, black, black);
}

.dark h2 {
    border-bottom: solid rgba(255, 255, 255, 0.438) 1px;
}

.dark a {
    color: rgba(255, 255, 255, 0.438);
}


/* Light Mode CSS */
.light {
    color: black;
    background-color: white;
}

.light header {
    border-bottom: double black 10px;
}

.light footer {
    border-top: double black 10px;
    background: linear-gradient(1deg,orange,yellow, white,white);
}

.light div {
    border: solid black 3px;
}

.light h2 {
    border-bottom: solid black 1px;;
}