/*CSS for the form elements in index.html*/
label {
    margin-top: 30px;
    margin-bottom: 5px;
}

.dark input {
    background-color: rgba(255, 255, 255, 0.438);
    color: lightskyblue;
}

.dark textarea {
    background-color: rgba(255, 255, 255, 0.438);
    color: lightskyblue
}

textarea::content {
    background-color: rgba(255, 255, 255, 0.438);
}