* {
    font-family: Arial, Helvetica, sans-serif; 
}

html {
    border: solid black 15px;
}

mode {
    border-bottom: double black 10px;
    padding: 15px;
    font-size: 24px;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

container {
    border-bottom: double black 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

blogTitle {
    color: black;
    background: radial-gradient(orange, yellow, white,white);
    background-size: cover;
    border-right: double black 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

userInput {
    background: linear-gradient(300deg,orange,yellow, white,white);
    height: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

button {
    margin-top: 30px;
    height: 48px;
    color: white;
    background-color: black;
    border: solid white 1px;
    box-shadow: 5px 2px 2px gray;
}

/* Dark Mode CSS */
.dark {
    color: rgba(255, 255, 255, 0.438);
    background-color: black;
}

.dark mode {
    border-bottom: double rgba(255, 255, 255, 0.438) 10px;
}

.dark container {
    border-bottom: double rgba(255, 255, 255, 0.438) 10px;
}

.dark blogTitle {
    border-right: double rgba(255, 255, 255, 0.438) 10px;
    background: radial-gradient(purple,blue, black, black);
    color: rgba(255, 255, 255, 0.438);
}

.dark userInput {
    background: linear-gradient(300deg,purple,blue, black, black);
}


/* Light Mode CSS */
.light {
    color: black;
    background-color: white;
}

.light mode {
    border-bottom: double black 10px;
}

.light container {
    border-bottom: double black 10px;
}

.light blogTitle {
    border-right: double black 10px;
    background: radial-gradient(orange, yellow, white,white);
}

.light userInput {
    background: linear-gradient(300deg,orange,yellow, white,white);
}